.ip-info {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    min-height: 300px;
}

.ip-info__title {
    text-align: center;
    width: 100%;
    margin-top: 0;
}

.ip-info__map {
    flex: 1;
    min-width: 200px;
    min-height: 200px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}