.screen {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    height: 100vh;
}

.sidebar {
    flex-grow: 1;
    margin-right: 10px;
    min-width: 200px;
}

.MuiPaper-root.results-list {
    height: 100%;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.content {
    flex-grow: 3;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.ip-search {
    display: flex;
    margin: 10px 0;
}

.MuiFormControl-root.ip-search__input {
    flex-grow: 1;
    margin-right: 10px;
}